
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dongle:wght@300&family=Nunito:ital,wght@1,200&family=Quicksand:wght@400;600&family=Roboto:wght@100&family=Source+Sans+Pro:wght@200;600&family=The+Nautigal:wght@700&display=swap');
html{
    font-family: 'Quicksand', sans-serif;
}

.header{
    background-image: url(https://cdn.tgdd.vn/Files/2018/10/31/1128111/huong-dan-choi-lien-quan-mobile-gia-lap-tren-pc-laptop-2.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0 auto;
    padding: 20%;
}

.lienquan{
    font-size:20px;
}
.nav { 
padding-bottom: 3px;
    height: 50px;
    font-size: 30px;
    overflow: hidden;
   background-color:rgb(39, 39, 139);
}
.nav a{
   padding: 12px 16px;
    height: 30px;

    display: inline-block;
    color: white;
    text-align: center;
 
    text-decoration: none;
}
.nav a:hover{
    background-color: #a7a5ee;
    color: black;
}
.article{
   
    text-decoration: none;

    display: flex;
    flex-wrap: wrap;
    min-height: 200px; 
    width: 75%;
    background:#D9D7F1;
    float:left;
}
   
.leftcolumn {
   
    box-shadow: 5px 10px 10px gray;
    border: 3px solid black;
    font-size: 30px;
    width: 20%;
    margin: 20px;
    display: inline-block;
   background: white;
    padding-top: 30px;
    padding-left: 7px;
    padding-right: 7px;
   text-align: center;
   color: rgb(10, 8, 8);
}
.leftcolumn img{
   width: 200px;
   height: 200px;
}
.leftcolumn a img{
    transition: 0.5s;
}
.leftcolumn a img:hover{
    transform: translateY(-50px);
   
}


.aside  {
    font-size: 20px;
padding-top: 20px;
    width: 25%;
    
}
.aside a{
    color: brown;
    font-size: 25px;
    text-decoration: none;

}
aside{
    float:right;
}



.id{
    border: 3px solid black;

    
    font-size: 20px;
    padding-bottom: 5px;
    text-align: center;
    background-color: rgb(226, 224, 224);
    
}
.id a:hover{
    background-color: darkgrey;
}

 footer{
     font-size: 30px;
     padding: 10px;
     text-align: center;
     margin-top: 10px;
     float: left;
    width: 100%;
    background-color: rgb(208, 208, 243);
 }
 .footer1{
     float: left;
     width: 50%;
 }
 .footer2{
     float: left;
     width: 50%;
 }

